.container {
  padding: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.list {
  border-radius: 8px;
  padding: 8px;
  margin: 16px;
  box-shadow: 0 0 16px -6px black;
}

.list img {
  width: 100%;
  border-radius: 8px;
}

.btn {
  padding: 8px 16px;
  background-color: lightslategray;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.btn:disabled {
  background-color: rgba(119, 136, 153, 0.514);
  cursor: not-allowed;
}
