.container {
  padding: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.list {
  border-radius: 8px;
  padding: 8px;
  margin: 16px;
  box-shadow: 0 0 16px -6px black;
}

.list img {
  width: 100%;
  border-radius: 8px;
}
